@import url('_reset.less');

@font-face {
  font-family: 'Friz Quadrata Regular OS';
  font-style: normal;
  font-weight: normal;
  src: local('Friz Quadrata Regular OS'), url('../assets/fonts/friz-quadrata-regular-os-5870333951e7c.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Friz Quadrata Bold Italic OS';
  font-style: normal;
  font-weight: normal;
  src: local('Friz Quadrata Bold Italic OS'), url('../assets/fonts/friz-quadrata-bold-italic-os-5870341205e0f.woff') format('woff');
  }


:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background: url(../assets/BGTexture_Seamless.jpg) repeat center ;
  }
  
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
 
  .button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }

.main {
    width: 100vw;
    padding: 5%;
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content: center;
  

    &__container {
        align-self: center;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }

    &__form {
        display: grid;
        gap: 20px;

        input {
            background: white;
            border:none;
            padding: 1rem;
            width: 100%;
            display: block;
            color:black;
            border-radius: .5rem;
            box-shadow: 0 5px 15px rgba(0,0,0,0.15);
        }
    }

    &__submit {
      padding: 1rem 2rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      position: relative;
      background: black;

      font-weight: bold;
      border-radius: 0px;

      color:#e2d29f;
      background-image: url(../assets/button-primary-background.png);
  
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border: 20px solid;
        border-image: url(../assets/button-primary-border.png);
        border-image-slice: 20 20 fill;
        pointer-events: none;
        z-index: 1;
      }     
    }
}

.chest-page {
  border-radius: 1rem;
  aspect-ratio: 16/9;
  width: 100%;
  height: 100%;
  background-color: #080c12;
  background-size:contain;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &:after {
    content: "";
    position: absolute;
    top: -4%;
    left: -2.5%;
    bottom: 0;
    right: 0;
    background: url(/src/assets/Video_Border.png) no-repeat center;
    background-size: 100% 100%;
    pointer-events: none;
    z-index: 1;
    width: 105%;
    height: 108%;
    z-index: 2;
  }
}

.house {
  border-radius: 1rem;
  aspect-ratio: 16/9;
  width: 100%;
  height: 100%;
  background: url('../assets/house.webp') no-repeat center;
  background-size:contain;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: -4%;
    left: -2.5%;
    bottom: 0;
    right: 0;
    background: url(/src/assets/Video_Border.png) no-repeat center;
    background-size: 100% 100%;
    pointer-events: none;
    z-index: 1;
    width: 105%;
    height: 108%;
    z-index: 2;
  }

  &__audio {
    position: absolute;
    z-index: 2;
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: black;
    left:15px;
    top:20px;

    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    border-radius: 0px;
    background-image: url(../assets/button-secondary-background.png);

    svg {
      display: block;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border: 20px solid;
      border-image: url(../assets/button-secondary-border.png);
      border-image-slice: 20 20 fill;
      pointer-events: none;
      z-index: 1;
    }

    &--pause {
      color:#e2d29f;
      background-image: url(../assets/button-primary-background.png);

      &:after {
        border-image: url(../assets/button-primary-border.png);
        border-image-slice: 20 20 fill;
      }
    }
  }

  &:before {
    aspect-ratio: 16/9;
    width: 100%;
    height: 100%;
    opacity: 0;
    content:'';
    display: block;
    position: absolute;
    pointer-events: none;
    background-image: var(--background);
    background-position:center;
    background-size:contain;
  }

  &--coffre {
    --background: url('../assets/coffre.webp');
  }

  &--songs {
    --background: url('../assets/song.webp');
  }


  &--book {
    --background: url('../assets/book.webp');
  }

  &--bag {
    --background: url('../assets/bag.webp');
  }

  &:hover:before {
    opacity: 1;
  }

  &__link {
    position: absolute;
    font-size: 0;
    background: transparent;
    outline: none;

    &--coffre {
      right: 18%;
      bottom: 23%;
      width: 13%;
      height: 19%;
    }

    &--songs {
      top: 28%;
      left: 44%;
      width: 8%;
      height: 9%;
    }

    &--book {
      top: 27%;
      left: 30%;
      width: 5%;
      height: 10%;
    }

    &--bag {
      bottom: 18%;
      left: 23%;
      width: 8%;
      height: 14%;
    }
  }

  &__cta {
    position: absolute;
    top:20px;
    left:50%;
    transform: translateX(-50%);
    cursor: pointer;
    font-size: 16px;
    z-index: 2;
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: black;
    transition: all ease 250ms;

    color:#e2d29f;
    font-weight: bold;
    border-radius: 0px;
    background-image: url(../assets/button-primary-background.png);


    svg {
      display: block;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border: 20px solid;
      border-image: url(../assets/button-primary-border.png);
      border-image-slice: 20 20 fill;
      pointer-events: none;
      z-index: 1;
    }
  }
}

.songs {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 70%;
}

.song {
  cursor: zoom-in;
  width: 30%;
  aspect-ratio: 1;

  img {
    display: block;
    width: 100%;
  }
}

.gallery {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
  z-index: 2;

  &__cta {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 16px;
    z-index: 2;
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: black;

    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    border-radius: 0px;
    background-image: url(../assets/button-secondary-background.png);

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border: 20px solid;
      border-image: url(../assets/button-secondary-border.png);
      border-image-slice: 20 20 fill;
      pointer-events: none;
      z-index: 1;
    }
  }
}


.bag {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 30%;
  max-width: 250px;

  > img {
    display: block;
    width: 100%;
  }

  &__item {
    position: absolute;
    width: 20%;
    height: 20%;
    cursor: pointer;
  
    &:hover {
      .bag__popup {
        display: block;
      }
    }
  
    &--voucher {
      top: 73%;
      left: 8%;
    }

    &--stone {
      top: 28%;
      left: 30%;
    }
    &--hearthstone {
      top: 28%;
      left: 52%;
    }
    &--paper {
      top: 51%;
      left: 30%;
    }

    &--photo {
      top:51%;
      left:75%;
    }

    &--status {
      top: 73%;
      left: 52%;
    }
  }
  &__popup {
    position: absolute;
    right: calc(100% + 5px);
    bottom: 0;
    z-index: 2;
    display: none;
    font-family: serif;
    text-decoration: none;
  }

  &__close {
    position: absolute;
    width: 11%;
    height: 11%;
    right: 3%;
    top: 4%;
    font-size: 0;
  }
}


.item {
  border: 1px solid #a3a4a9;
  border-radius: 3px;
  width: 350px;
  background: rgba(6, 11, 31, .75);
  padding: 10px;
  font-family: Friz Quadrata Regular OS, sans-serif;

  &__title {
    font-size: 18px;

    &--junk {
      color:#9d9d9d;
    }

    &--uncommon {
      color:#1eff00;
    }
    &--legendary {
      color:#ff8000;
    }

    &--rare {
      color:#0070dd;
    }

    &--artefact {
      color:#e6cc80;
    }
  }

  &__use {
    color:#1eff00;
  }
  &__level,
  &__desc {
    color: #ffd100!important;
  }
}









.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  left:0;
  top:0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  
  &__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
  }

  &__stack {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &--grid {
      gap:10px;
      flex-wrap: wrap;
      .carousel__image {
        width: 25%;
        position: relative !important;
        transform: none !important;
        opacity: 1 !important;
      }

      & + .carousel__controls > .carousel__nav {
        display: none;
      }
    }
  }

  &__image {
    position: absolute;
    top: 0;
    cursor: zoom-in;
    transform: scale(0.8);
    transition: transform 0.5s ease, opacity 0.5s ease, z-index 0.5s ease;
    max-height: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    aspect-ratio: 1;
    display: block;

    img {
      width: 100%;
      height: 100%;
      display: block;
    }

    &.active {
      transform: scale(1);
      opacity: 1;
    }
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 16px;
    z-index: 2;
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: black;

    color:#e2d29f;
    font-weight: bold;
    border-radius: 0px;
    background-image: url(../assets/button-primary-background.png);

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border: 20px solid;
      border-image: url(../assets/button-primary-border.png);
      border-image-slice: 20 20 fill;
      pointer-events: none;
      z-index: 1;
    }
  }

  &__cta {
    position: relative;
    cursor: pointer;
    font-size: 16px;
    z-index: 2;
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: black;
    transition: all ease 250ms;

    color:#e2d29f;
    font-weight: bold;
    border-radius: 0px;
    background-image: url(../assets/button-primary-background.png);


    svg {
      display: block;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border: 20px solid;
      border-image: url(../assets/button-primary-border.png);
      border-image-slice: 20 20 fill;
      pointer-events: none;
      z-index: 1;
    }

    &[disabled]{
    cursor: initial;

    color: rgba(255, 255, 255, 0.8);
      opacity: .2;
      background-image: url(../assets/button-secondary-background.png);

      &:after {
        border-image: url(../assets/button-secondary-border.png);
        border-image-slice: 20 20 fill;
      }
    }
  }
}


.carousel__controls {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: absolute;
  bottom: 10%;
  width: 100%;
}


.carousel__button:hover {
  background-color: #555;
}





















.coffre-page {
  text-align: center;
  margin-top: 50px;
}

.cryptex {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;

  &__input {
    font-size: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
    color: black !important;
    appearance: none;
    text-align: center;
    width: 50px;
    height: 80px;
  
    option {
      text-align: center;
    }

    &:focus {
      border-color: #007bff;
      outline: none;
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }    
  }

  &__letter {
    font-size: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
    color: black !important;
    text-align: center;
    width: 50px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &--above {
      transform: rotateX(-60deg);
      bottom: -15px;
      background: linear-gradient(0deg, #ffffff30, transparent);
    }
    
    &--below {
      transform: rotateX(60deg);
      bottom: 15px;
      position: relative;
      background: linear-gradient(180deg, #ffffff30, transparent);
    }
    
  }
}


.chest-page__clue {
  display: block;
  width: 100%;
  position: absolute;
  z-index: 2;
  right: -80%;
  pointer-events: none;
}





